/* general styles */

.m-auto {
  margin: auto;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}


.flex-direction-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.vh-100 {
  height: 100vh;
}

@media (min-width: 768px) {
  .w-60 {
    width: 60%;
  }

}

.mdl-checkbox__ripple-container .mdl-ripple {
  background: rgb(63,81,181);
}